.container {
  width: calc(100% - 40px);
  max-width: 360px;
  margin: 0 auto;
  padding: 20px 0;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 32px;
  color: #212528;
}

.field {
  display: flex;
  margin-top: 68px;
  flex-direction: column;
  gap: 18px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputGroup label {
  font-size: 14px;
  font-weight: 500;
  color: #212528;
}

.inputGroup input {
  width: 100%;
  height: 47px;
  padding: 0 12px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 400;
  color: #666e76;
  background-color: #f8fafb;
  border: none;
  outline: none;
  color: #212528;
}

.idField {
  display: flex;
  gap: 8px;
}

.idField input {
  flex: 1;
}

.checkButton {
  padding: 12px 16px;
  background-color: white;
  color: #6868d5;
  border: 1px solid #6868d5;
  font-size: 15px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.inputGroup:has(> .radio) {
  gap: 0px;
}

.radio {
  display: flex;
  gap: 14px;
}

.radio label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 500;
  color: #343a3f;
  cursor: pointer;
}

.radio input[type="radio"] {
  width: auto;
  margin: 0;
  cursor: pointer;
  accent-color: #6868d5;
}

.select {
  width: 100%;
  padding: 0 12px;
  height: 47px;
  width: 249px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 400;
  color: #343a3f;
  background-color: white;
  border: 1px solid #eaebef;
  outline: none;
  cursor: pointer;
  appearance: none;
  background-image: url("/down_arrow.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 24px;
}

.submitButton {
  width: 100%;
  height: 55px;
  padding: 16px;
  background-color: #6868d5;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 74px;
}

.submitButton:hover {
  background-color: #5656c3;
}
